@font-face{
    font-family: YellowtailCustomfuente;
    src: url(fonts/Yellowtail/Yellowtail-Regular.ttf);
}


h1{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: YellowtailCustomfuente;
    font-size: 20px;
    font-weight: lighter;

    /* colores */
    /* colores del sistema */
    color: brown;
    /* color hexadecimal */
    color: #55cfff;
    /* colores rgb */
    color: rgb(red, green, blue);
    /* colores rgba */
    color: rgba(0, 181, 110, 0.4);
}

p{
    font-family: YellowtailCustomfuente, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}

h3{
    font-family: 'Stanilist One', cursive;
}