*{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    font-size: 20px;
}

ul li:first-child{
    color: aqua;
}

ul li:nth-child(2){
    color: purple;
    font-weight: bold;
}

#enlace{
    font-size: 30px;
    color: brown;
}

#enlace:link{
    color: red;
}

#enlace:visited{
    color: orange;
}

input[type="text"]{
    margin-top: 20px;
    padding: 10px;
}

input[type="text"]:focus{
    border: 4px dashed green;
}